body {
  margin: 0;
  background: #111;
}

.scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}


