body {
  margin: 0;
  background: #111;
}

.scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene-img {
  width: 100%;
  height: auto;
  display: block;  
}

.image-wrapper {
  position: relative;
  max-width: 800px;   /* controla el tamaño */
  width: 100%;
}

.hotspot {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 0, 0, 0.5); /* 🔴 visible */
  border: 2px solid white;
}

.hotspot:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* POSICIONES DE LOS HOTSPOTS */
.h1 {
  top: 55%;
  left: 30%;
}

.h2 {
  top: 25%;
  left: 55%;
}

/* COLOR DE CADA HOTSPOT */
.h1 {
  top: 58%;
  left: 32%;
  background: rgba(220, 40, 40, 0.45); /* rojo */
}

.h2 {
  top: 28%;
  left: 57%;
  background: rgba(60, 150, 200, 0.45); /* azul */
}









