body {
  margin: 0;
  background: #111;
}

.scene {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  aspect-ratio: 16 / 9;;
  
}

.scene-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;

}

.hotspot {
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;

  border: 2px solid rgba(255,255,255,0.8);
  backdrop-filter: blur(2px);

  transform: translate(-50%, -50%);
  transition: all 0.25s ease;

}

.hotspot:hover {
  transform: translate(-50%, -50%) scale(1.15);
  box-shadow: 0 0 18px rgba(255,255,255,0.6);

}

/* COLORES DE LOS HOTSPOTS (según pintura) */
.hotspot.red {
  background: rgba(255, 70, 70, 0.55);
}

.hotspot.blue {
  background: rgba(80, 190, 255, 0.55);
}

.hotspot.yellow {
  background: rgba(255, 215, 80, 0.55);
}

.hotspot.white {
  background: rgba(255, 255, 255, 0.6);
}

/* POSICIONES DE LOS HOTSPOTS */
.h1 {
  top: 58%;
  left: 38%;
}

.h2 {
  top: 32%;
  left: 55%;
}

.h3 {
  top: 30%;
  left: 30%;
}

.h4 {
  top: 55%;
  left: 65%;
}

/* COLOR DE CADA HOTSPOT */
.h1 {
  top: 58%;
  left: 32%;
  background: rgba(220, 40, 40, 0.45); /* rojo */
}

.h2 {
  top: 28%;
  left: 57%;
  background: rgba(60, 150, 200, 0.45); /* azul */
}
















